<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Employee Mangement Office</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <script src="~/Scripts/Jquery-3.7.1.min.js"></script>
    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}
    @*font-awesome cdn of css*@
    <link href="~/Content/Font-Awesome/all.min.css" rel="stylesheet" />

    <!-- Add jQuery Style direct - used for jQGrid plugin -->
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/plugins/alertify/css/alertify.min.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/alertify/css/themes/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/dataTables/datatables.min.css" rel="stylesheet" />
    <script src="~/Scripts/plugins/dataTables/datatables.min.js"></script>
    <link href="~/Content/jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <link href="~/Content/Select2/select2.min.css" rel="stylesheet" />
    <script src="~/Scripts/plugins/select2/select2.full.min.js"></script>
    <link href="~/Content/plugins/datapicker/datepicker3.css" rel="stylesheet" />
    <script src="~/Scripts/plugins/datapicker/bootstrap-datepicker.js"></script>
    @Scripts.Render("~/oth.plugin/scripts/jquery-datatable")
    @Styles.Render("~/oth.plugin/styles/jquery-datatable")

    <!-- Primary Inspinia style -->
    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/Content/css")
    <script src="~/Scripts/plugins/alertify/alertify.min.js"></script>
</head>
<body class="top-navigation">

    <!-- Skin configuration box -->
    @Html.Partial("_SkinConfig")

    <!-- Wrapper-->
    <!-- PageClass give you ability to specify custom style for specific view based on action -->
    <div id="wrapper" class="@Html.PageClass()">

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">

            <!-- Top Navbar -->
            @Html.Partial("_TopNavbar2")

            <!-- Main view  -->
            @RenderBody()

            <!-- Footer -->
            @Html.Partial("_Footer")

        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->
    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/slimScroll")
    @Scripts.Render("~/bundles/inspinia")
    <!-- Skin config script - only for demo purpose-->
    @Scripts.Render("~/bundles/skinConfig")

    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/plugins/dataTables/datatables.min.js"></script>
    
</body>
</html>
